@import "tailwindcss";

@theme {
  --color-primary: #52A5DD;
  /* --color-primary: #51A6DD; */
  /* F5559F */
  --color-primaryblack: #333333;
  --color-primarycream: #FCDEE0;
  --color-secondary: #52A5DD;
  /* --color-secondary: #F859A2; */
  --color-sectionTitle: #52A5DD;
  /* --color-sectionTitle: #c4467f; */
  --color-natural: #CE967E;
  --color-accent: #95A996;
  --color-typograhy: #41393D;
  --color-button: #B63D5E;
  --color-light: #F5F5F5;
  --color-ash: #666666;
  --color-creamline: #F1F1F1;
  --color-danger: #B63D5E;
  --color-cartbg: #FFF7F8;
  --color-errorbg: #FFDFDF;
  --color-successbg: #EBF7F2;
  --color-successText: #0D834D;
  --color-orange: #FFA100;
  --color-customgreen: #33B27F;
  --color-nav: #FFFEF9;
}

@font-face {
  font-family: UAESymbol;
  src: url(../public/dirham/new-dirham-symbol.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

.dirham-symbol {
  font-family: UAESymbol;
  font-weight: 400;
}

.longDescription ul {
  list-style: disc !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.longDescription ol {
  list-style: decimal !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.longDescription p, .longDescription li {
  font-size: 16px;
}

.longDescription h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
.longDescription h3 strong {
  font-weight: 700 !important;
}

.longDescription hr {
  border: none;
  border-top: 1px solid #ddd;
  position: relative;
  margin: 2rem 0;
}

.longDescription.rtl {
  direction: rtl;
  text-align: right;
}

.longDescription.rtl ul {
  list-style-position: outside; 
  padding-right: 40px;        
  padding-left: 0;
}

.longDescription.rtl ol {
  list-style-position: outside; 
  padding-right: 40px;
  padding-left: 0;
  counter-reset: item;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d1d5db; /* gray-300 */
  border-radius: 0; /* square */
  opacity: 1;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #111827; /* gray-900 */
}

.category-swiper .swiper-pagination {
  position: relative !important;  /* override Swiper's default absolute */
  margin-top: 1rem;               /* spacing below slides */
  display: flex;
  justify-content: center;
}

.category-swiper .swiper-pagination-bullet {
  width: 10px;               /* inactive small */
  height: 10px;
  border-radius: 0;          /* square */
  background-color: #d1d5db; /* gray-300 */
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease; /* smooth size/color transition */
  border-radius: 2px;
}

.category-swiper .swiper-pagination-bullet-active {
  width: 10px;               /* active bigger */
  height: 10px;
  background-color: var(--color-primary); /* active color */
}
